:root {
  --primary-bg: #111111;
  --primary-text: #ffffff;
  --secondary-bg: #d30d60;
  --secondary-text: #210060;
  --light: #ffffff;
  --grey:#1B1B1B;
  --large-text: 3.5625rem;
  --medium-text-1: 2.625rem;
  --medium-text-2: 2.25rem;
  --medium-text-3: 1.25rem;
  --normal-text: 1.125rem;
  --small-text: 1rem;
  --xs: 0.875rem;
}

@font-face {
  font-family: 'iCiel Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Bold'), url('./fonts/iCielGothamBold.woff') format('woff');
  }
  

@font-face {
  font-family: 'iCiel Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Medium'), url('./fonts/icielgothammediumregular.woff') format('woff');
}


@font-face {
  font-family: 'iCiel Gotham Ultra';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Ultra'), url('./fonts/icielgothamultraregular.woff') format('woff');
}

html {
  overflow-y: hidden;
  
	scroll-padding: 90px;
}


body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  body {
    scroll-snap-type: none;
  }
}

h1 {
  font-size: var(--large-text);
  margin-bottom: 0;
}

h2 {
  font-size: var(--medium-text-1);
}

h3 {
  font-weight: bold;
  font-size: var(--medium-text-3);
}

p {
  font-size: var(--normal-text);
}

h4 {
  font-weight: normal;
  font-size: var(--small-text);
}

@media (max-width: 769px) {
  p {
    font-size: var(--small-text);
  }

  h4 {
    font-size: var(--xs);
  }

  h2 {
    font-size: var(--medium-text-2);
  }

  h3 {
    font-size: 18px;
  }
}
